# Variables de entorno para producción en Vercel
# Copia estas variables a la configuración de Vercel

# Base de datos PostgreSQL (Supabase o cualquier PostgreSQL)
DB_USER=postgres.jygnqtlzohtnlefzgled
DB_PASSWORD=!in4/D&D$VDih9s
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
# JWT Secret (genera una clave segura)
JWT_SECRET=jisjd8s5as8das.c581!

# Puerto (Vercel lo asigna automáticamente)
PORT=4000

# Node Environment
NODE_ENV=production